{#
/**
 * Audit plugin for Craft CMS 3.x
 *
 * Audit index.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   Audit
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\audit\\assetbundles\\audit\\AuditAsset") %}
{% do view.registerAssetBundle("superbig\\audit\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/sjelfull/audit/blob/master/README.md" %}

{% set title = "Audit" %}

{% set pluginCpUrl = url('audit') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/audit/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('audit') }}</a>
    </div>
{% endset %}

{% set content %}
    <table class="data fullwidth">
        <thead>
        <tr>
            <th>Event</th>
            <th>Title</th>
            <th></th>
            <th></th>
            <th>User</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.getEventLabel() }}</td>
                <td>{{ log.title }}</td>
                <td></td>
                <td>{{ log.userId }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.dateCreated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}
