{#
/**
 * Audit plugin for Craft CMS 3.x
 *
 * Audit index.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   Audit
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\audit\\assetbundles\\audit\\AuditAsset") %}
{% do view.registerAssetBundle("superbig\\audit\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/sjelfull/audit/blob/master/README.md" %}

{% set title = "Audit" %}

{% set pluginCpUrl = url('audit') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/audit/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% block actionButton %}
    {% if currentUser.can('audit-clear-logs') %}
        <div class="buttons">
            <a href="{{ url('audit/prune-logs') }}" class="btn submit icon">{{ "Prune old records"|t('audit') }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if logs %}
        <table class="data fullwidth">
            <thead>
            <tr>
                <th class="audit-column--event">Event</th>
                <th class="audit-column--element">Type</th>
                <th>Site</th>
                <th>Title</th>
                <th>User</th>
                <th>IP</th>
                <th>Date</th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td><span class="audit-index__event-label">{{ log.getEventLabel() }}</span></td>
                    <td class="audit-column--element">{{ log.getElementLabel() }}</td>
                    <td class="thin">{{ log.getSite().name }}</td>
                    <td>{{ log.getElementLink() }}</td>
                    <td>{{ log.getUserLink() }}</td>
                    <td>{{ log.ip }}</td>
                    <td>{{ "#{log.dateCreated|date('short')} #{log.dateCreated|time('short')}" }}</td>
                    <td>
                        <a href="{{ log.getCpEditUrl() }}">&rarr;</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No log entries.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if logs %}
            {% include '_includes/pagination' with { pageInfo: pageInfo } %}
    {% endif %}
{% endblock %}